{% extends "layouts/base.twig" %}

{% block content %}
    <div class="row">
        <section class="col s8">
            <article>
                <header>
                    <h1>About The Wonderful Healthy Lifyzer's Mission!</h1>
                    <h4 class="underline">
                        Because Good Healthy Food Matters much more than Everything Else!
                    </h4>
                </header>

                <p>
                    ...
                </p>

                <div class="center">
                    <a href="https://apps.apple.com/app/longer-life-lifyzer-food-scan/id1466196809">
                        <img src="{{ url('static/img/ios-appstore.svg') }}" title="Android Lifyzer Mobile App" alt="Android Lifyzer Mobile App" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.lifyzer">
                        <img src="{{ url('static/img/android-googleplay.svg') }}" title="iPhone Lifyzer Mobile App" alt="iPhone Lifyzer Mobile App" />
                    </a>
                </div>
            </article>
        </section>

        <section class="col s4">
            <p>
                <img
                    src="{{ url('static/img/about/phs.png') }}"
                    alt="About the founder - Pierre-Henry Soria"
                    title="Pierre-Henry Soria, founder of Lifyzer, Healthy Food"
                    class="border-radius"
                />
            </p>

            <p class="center">
                <a class="orange-text text-lighten-2" rel="nofollow" href="mailto:hello@lifyzer.com">
                    😊 Contact Me 😊
                </a>
            </p>
        </section>
    </div>

    {% include 'partials/disqus.twig' %}
{% endblock %}
