{% extends "layouts/base.twig" %}

{% block content %}
    <h1>About The Wonderful Healthy Lifyzer's Mission!</h1>
    <h3 class="underline">Because Good Healthy Food Matters much more than Everything Else!</h3>

    <p>
        ...
    </p>

    <p>
        <a class="orange-text text-lighten-3" rel="nofollow" href="mailto:hello@lifyzer.com">
            😊 Contact Me 😊
        </a>
    </p>
{% endblock %}
