Server/vendor
composer.lock
composer.phar
Server/config/.env
!Server/cache/.gitkeep
!Server/log/.gitkeep

# Log files
*.log
*.tmp

# PHPUnit coverage
coverage

# PhpStorm
.idea

## OS ##

# Linux
*~
*.swp
# KDE
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
