Server/vendor
composer.lock
composer.phar
Server/config/.env
Server/cache/*
!Server/cache/.gitkeep
Server/log/*
!Server/log/.gitkeep

# Log files
*.log
*.tmp

# PHPUnit coverage
coverage

# PhpStorm
.idea


## OS ##

# Linux
*~
*.swp
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac
.DS_Store*
._*
