{% extends "layouts/landing.twig" %}

{% block slogan %}
    <h1 class="slogan">{{ 'Eat Healthier = Longer Life!' }}</h1>
{% endblock %}


{% block heading %}
    <h2>{{ 'Hello. What foodstuff do you need to decrypt?' }}</h2>
{% endblock %}
