<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat Better. Lifyzer gives everything about what you REALLY Eat!</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="{{ url('theme/classic/css/hero.css') }}">
    <link rel="stylesheet" href="{{ url('theme/classic/css/common.css') }}">
    {% include 'partials/cookie-consent.twig' %}
</head>
<body>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url() }}">
                <img src="{{ url('static/img/logo.png') }}" alt="Lifyzer, Foodstuffs Informer Website" />
            </a>
            <div class="navbar-burger burger" data-target="navMenu"><span></span><span></span><span></span></div>
        </div>
        {% block slogan %}
        {% endblock %}
    </div>
</nav>
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            {% block heading %}
            {% endblock %}

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        {%  include 'partials/error-message.twig' %}
                        <div class="control has-icons-left has-icons-right">
                            {%  include 'partials/search-form.twig' %}
                            <span class="icon is-medium is-right">
                            <i class="fa fa-empire"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-paw"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Eating Healthy Food is much easier than you think!</h4>
                        <p>YES! Anyone can eat very yummy and healthy food much simpler and cheaper than you think! However, you don't have to be decided to follow some rules and never betray yourself! 🚀</p>
                        <p><a href="https://lifyzer.com">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-empire"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>Lifyzer Helps you to be "Energisy" &amp; "Live Longer"</h4>
                        <p>
                            ...
                        </p>
                        <p><a href="https://lifyzer.com">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-image has-text-centered">
                    <i class="fa fa-apple"></i>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4> Leo integer malesuada nunc vel risus. </h4>
                        <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="intro column is-8 is-offset-2">
        <h2 class="title">Perfect for developers or designers!</h2><br>
        <p class="subtitle">Vel fringilla est ullamcorper eget nulla facilisi. Nulla facilisi nullam vehicula ipsum a. Neque egestas congue quisque egestas diam in arcu cursus.</p>
    </div>
    <div class="sandbox">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-white">
                            <p class="title">Vertical tiles</p>
                            <p class="subtitle">Top box</p>
                        </article>
                        <article class="tile is-child notification is-white">
                            <p class="title">Vertical tiles</p>
                            <p class="subtitle">Bottom box</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-white">
                            <p class="title">Middle box</p>
                            <p class="subtitle">With an image</p>
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Wide column</p>
                        <p class="subtitle">Aligned with the right column</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <div class="content">
                        <p class="title">Tall column</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                                eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                            <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet
                                felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                            <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam
                                ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Side column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Main column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Murphy's law</p>
                    <p class="subtitle">Anything that can go wrong will go wrong</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Main column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div class="columns is-mobile is-centered">
    <div class="column is-half is-narrow"></div>
</div>
<footer>
    <div class="box cta">
        <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-light">FoodCMS™</span>
                        <span class="tag is-light">
                            Made with Care &amp; Love by
                        </span>
                        <span class="tag is-light">
                            <a href="http://pierrehenry.be">Pierre-Henry™</a>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <a class="tag is-light">
                            Be Great Again. 🚀 Eat Healthy Food! 💪 You understand why this is the FUTURE! 🎉
                        </a>
                        <span class="tag is-light">
                            <a href="https://github.com/Lifyzer/FoodCMS">
                                <i class="fa fa-github"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
