{% extends "layouts/base.twig" %}

{% block content %}
    <section>
        {% for post in posts %}
            <article class="row border">
                <h1>
                    <a href="{{ url('post/' ~ post) }}">
                        {{ post|replace({'-': ' '})|title }}
                    </a>
                </h1>
                <hr />
            </article>
        {% endfor %}
    </section>
{% endblock %}
