{% extends "layouts/base.twig" %}

{% block content %}
    {% for post in posts %}
        <h1>
            <a href="{{ url('post/' ~ post) }}">
                {{ post|replace('-', ' ')|capitalize }}
            </a>
        </h1>
    {% endfor %}
{% endblock %}
