{% extends "layouts/base.twig" %}

{% block content %}
    <div class="row">
        <section class="col s12 m8">
            <h2>Food Details for <span class="underline">{{ keywords|capitalize }}</span></h2>

            {% for item in items %}
                <article class="row border">
                    <h1 class="underline">
                        <a href="{{ url('product/' ~ item.id) }}">
                            {{ item.product_name }}
                        </a>
                    </h1>
                    {% if item.ingredients %}
                        <p>
                            <em>{{ item.ingredients }}</em>
                        </p>
                    {% endif %}
                    <hr />
                </article>
            {% endfor %}
        </section>

        <section class="col s12 m4">
            <h1>Refine your search 😋</h1>
            {% include 'partials/search-form.twig' %}
        </section>
    </div>

    <div class="row">
        {% include 'partials/pagination.twig' %}
    </div>
{% endblock %}
