{% extends "layouts/base.twig" %}

{% block content %}
    <div class="row">
        {% for item in items %}
            <h1>
                <a href="{{ url('product' ~ item.id) }}">
                    {{ item.product_name }}
                </a>
            </h1>
            <p>
                <em>{{ item.ingredients }}</em>
            </p>
            <hr />
        {% endfor %}
    </div>
{% endblock %}
