{% extends "base.twig" %}

{% block content %}
    <p>Product successfully submitted.</p>
    <p>You can <a href="{{ siteUrl }}" class="bold">add another one</a> (if you wish, or course!) 😊</p>
{% endblock %}
