{% extends "layouts/base.twig" %}

{% block content %}
    <div class="row">
       <h1>{{ item.product_name }}</h1>

        <!-- Charts -->

        <p>{{ item.ingredients }}</p>
    </div>
{% endblock %}
