<form action="{{ url('search') }}" method="post">
    <input type="search" name="keywords" placeholder="Search a Tasty Product 😋" class="input is-large" />
    <span class="icon is-medium is-left">
        <i class="fa fa-search"></i>
    </span>
    <button type="submit" name="submit" class="button is-info is-medium">Lookup! 🔎</button>
</form>
