<form action="{{ url('results') }}" method="get">
    <input type="search" name="keywords" placeholder="Search a Tasty Product 😋" class="input is-large" />
    <span class="icon is-medium is-left">
        <i class="fa fa-search"></i>
    </span>
    <input type="submit" name="submit" value="Look!" />
</form>