<form action="{{ url('results') }}" method="get">
    <input class="input is-large" type="search" />
    <span class="icon is-medium is-left">
                                    <i class="fa fa-search"></i>
                                </span>
    <input type="submit" name="submit" value="Look" />
</form>